@page "/adminpage"

@using CpCinemaBlazor.ApiRequest.Model
@using SrezBlazor.ApiRequest
@using SrezBlazor.ApiRequest.Model
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer

<PageTitle>AdminPanel</PageTitle>
<label class="form-label" for="rating">Имя</label>
<input @bind="addUser.Name" />
<p></p>
<label class="form-label" for="rating">Фамилия</label>
<input @bind="addUser.LastName" />
<p></p>
<label class="form-label" for="rating">Почта</label>
<input @bind="addUser.Email" />
<p></p>
<label class="form-label" for="rating">Логин</label>
<input @bind="addUser.Login" />
<p></p>
<label class="form-label" for="rating">Пароль</label>
<input @bind="addUser.Password" />
<p></p>
<label class="form-label" for="rating">Роль: админ</label>
<input type="checkbox" @bind="addUser.isAdmin" />
<p></p>
<button @onclick="CreateUser" class="button-17" role="button">Добавить</button>

@if (isAdmin == true)
{
<p class="text-center fw-bold mb-5 mx-1 mx-md-4 mt-4">
    <table class="table table-bordered">
        <thead class="alert-dark">
            <tr>
                <td>id_User</td>
                <td>Name</td>
                <td>LastName</td>
                <td>Email</td>
                <td>Login</td>
                <td>Password</td>
                <td>Edit</td>
            </tr>
        </thead>

        <tbody>
            @if (users == null)
            {
                <tr>
                    <td colspan="6" class="text-center">Loading...</td>
                </tr>
            }
            else if (!users.Any())
            {
                <tr>
                    <td colspan="6" class="text-center">No users found</td>
                </tr>
            }
            else
            {
                @foreach (var user in users)
                {
                    <tr>
                        <td>
                            @user.id_User
                        </td>
                        <td>
                            @if (user.isAdmin == false)
                            {
                                <p>Пользователь</p>
                            }
                            else if (user.isAdmin == true)
                            {
                                <p>Админ</p>
                            }
                            
                        </td>
                        <td>
                            @if (user.Edit)
                            {
                                <input @bind="@user.Name" placeholder="Имя" pattern="[а-яА-Я]+" />
                            }
                            else
                            {
                                @user.Name
                            }
                        </td>
                        <td>
                            @if (user.Edit)
                            {
                                <input @bind="@user.LastName" placeholder="Фамилия" pattern="[а-яА-Я]+" />
                            }
                            else
                            {
                                    @user.LastName
                            }
                        </td>
                        <td>
                            @if (user.Edit)
                            {
                                    <input @bind="@user.Email" placeholder="Почта" />
                            }
                            else
                            {
                                @user.Email
                            }
                        </td>
                        <td>
                            @if (user.Edit)
                            {
                                <input @bind="@user.Login" placeholder="Логин" />
                            }
                            else
                            {
                                    @user.Login
                            }
                        </td>
                            <td>
                                @if (user.Edit)
                                {
                                    <input @bind="@user.Password" placeholder="Пароль" />
                                }
                                else
                                {
                                    @user.Password
                                }
                            </td>
                            <td>
                            @if (user.Edit)
                            {
                                <button @onclick="() => SaveUser(user)">Сохранить</button>
                                <button @onclick="() => CancelUser(user)">Отмена</button>
                            }
                            else
                            {
                                <button @onclick="() => EditUser(user)">Изменить</button>
                                <button @onclick="() => DeleteUser(user)">Удалить</button>
                                    @if (user.isAdmin == false)
                                {
                                    <button style="background-color: crimson" @onclick="() => MakeAdmin(user)">Сделать админом</button>
                                }
                                else if (user.isAdmin == true)
                                {
                                    <button style="background-color: cadetblue" @onclick="() => MakeUser(user)">Сделать пользователем</button>
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</p>
}
@code {


    private List<UserGet> users;

    AddUser addUser = new AddUser();
    UserGet UserData = new UserGet();

    private bool isAuthenticated;
    private bool isAdmin;

    [Inject] private ApiRequestService ApiRequest { get; set; }

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = SingletoneUser.up != null;

        isAdmin = SingletoneUser.up?.isAdmin == true;

        if (isAuthenticated && isAdmin)
        {
             await GetUsers();
        }
    }

    private async Task GetUsers()
    {
        var userData = await ApiRequest.GetUsersAsync();
        users = userData ?? [];

        StateHasChanged();
    }

    void EditUser(UserGet user)
    {
        user.Edit = true;
    }

    async void DeleteUser(UserGet user)
    {
        ApiRequest.DeleteUserAsync(user.id_User);
        await GetUsers();
    }

    async void MakeAdmin(UserGet user)
    {
        if (!string.IsNullOrWhiteSpace(user.Name) &&
       !string.IsNullOrWhiteSpace(user.LastName) &&
       !string.IsNullOrWhiteSpace(user.Email) &&
       !string.IsNullOrWhiteSpace(user.Login) &&
       !string.IsNullOrWhiteSpace(user.Password))
        {
            UserProd userProd = new UserProd();
            userProd.id_User = user.id_User;
            userProd.isAdmin = true;
            userProd.Name = user.Name;
            userProd.LastName = user.LastName;
            userProd.Email = user.Email;
            userProd.Login = user.Login;
            userProd.Password = user.Password;

            ApiRequest.EditUserAsync(userProd);
        }
        GetUsers();
    }

    async void MakeUser(UserGet user)
    {
        if (!string.IsNullOrWhiteSpace(user.Name) &&
       !string.IsNullOrWhiteSpace(user.LastName) &&
       !string.IsNullOrWhiteSpace(user.Email) &&
       !string.IsNullOrWhiteSpace(user.Login) &&
       !string.IsNullOrWhiteSpace(user.Password))
        {
            UserProd userProd = new UserProd();
            userProd.id_User = user.id_User;
            userProd.isAdmin = true;
            userProd.Name = user.Name;
            userProd.LastName = user.LastName;
            userProd.Email = user.Email;
            userProd.Login = user.Login;
            userProd.Password = user.Password;

            ApiRequest.EditUserAsync(userProd);
        }
        GetUsers();
    }

    void CancelUser(UserGet user) => user.Edit = false;

    void SaveUser(UserGet user)
    {
        if (!string.IsNullOrWhiteSpace(user.Name) &&
       !string.IsNullOrWhiteSpace(user.LastName) &&
       !string.IsNullOrWhiteSpace(user.Email) &&
       !string.IsNullOrWhiteSpace(user.Login) &&
       !string.IsNullOrWhiteSpace(user.Password))
        {
            UserProd userProd = new UserProd();
            userProd.id_User = user.id_User;
            userProd.isAdmin = true;
            userProd.Name = user.Name;
            userProd.LastName = user.LastName;
            userProd.Email = user.Email;
            userProd.Login = user.Login;
            userProd.Password = user.Password;

            ApiRequest.EditUserAsync(userProd);
        }
        user.Edit = false;
        GetUsers();
    }
    
    private void CreateUser()
    {
        ApiRequest.CreateUserAsync(addUser);
        GetUsers();
    }
}

<style>
    .button-17 {
        align-items: center;
        appearance: none;
        background-color: #fff;
        border-radius: 24px;
        border-style: none;
        box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
        box-sizing: border-box;
        color: #3c4043;
        cursor: pointer;
        display: inline-flex;
        fill: currentcolor;
        font-family: "Google Sans",Roboto,Arial,sans-serif;
        font-size: 14px;
        font-weight: 500;
        height: 48px;
        justify-content: center;
        letter-spacing: .25px;
        line-height: normal;
        max-width: 100%;
        overflow: visible;
        padding: 2px 24px;
        position: relative;
        text-align: center;
        text-transform: none;
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: auto;
        will-change: transform,opacity;
        z-index: 0;
    }

        .button-17:hover {
            background: #F6F9FE;
            color: #174ea6;
        }

        .button-17:active {
            box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
            outline: none;
        }

        .button-17:focus {
            outline: none;
            border: 2px solid #4285f4;
        }

        .button-17:not(:disabled) {
            box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
        }

            .button-17:not(:disabled):hover {
                box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
            }

            .button-17:not(:disabled):focus {
                box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
            }

            .button-17:not(:disabled):active {
                box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
            }

        .button-17:disabled {
            box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
        }

</style>